.preview-container {
	margin-top: 3rem;
}

.items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1.5rem;

	span {
		height: 100px;
		width: 100px;
	}
}

.triangle {
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.oval {
	clip-path: ellipse(28% 40% at 50% 50%);
}

.round {
	clip-path: ellipse(40% 40% at 50% 50%);
}

.rectangle {
	clip-path: polygon(0 28%, 100% 28%, 100% 86%, 0 86%);
}